src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:microsoft-dynamics-crm="http://www.mulesoft.org/schema/mule/microsoft-dynamics-crm" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/microsoft-dynamics-crm http://www.mulesoft.org/schema/mule/microsoft-dynamics-crm/current/mule-microsoft-dynamics-crm.xsd">

    <flow name="businessLogicFlow" doc:id="8759532e-79b7-4789-990c-dc8e162bfd67">
        <batch:job jobName="migrateContactsBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6" blockSize="100">
            <batch:process-records>
                <batch:step name="foreachContactInSalesforceGetcontactInMsDynamicsStep" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
                    <ee:transform doc:name="Transform Message" doc:id="3e86c1d1-077f-455b-a608-da950c75e677">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	"query" : "dsql:SELECT fullname,contactid FROM contact WHERE fullname = '" ++ payload.Name ++ "'"
}]]></ee:set-payload>
                        </ee:message>
                        <ee:variables>
                            <ee:set-variable variableName="contact"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <microsoft-dynamics-crm:retrieve-multiple-by-query doc:name="Query Microsoft Dynamics CRM for Contact"
                        doc:id="7eb3ff9b-80d9-4186-99a4-fea4aef66efc" config-ref="Microsoft_Dynamics_CRM_Dynamics_CRM">
                        <microsoft-dynamics-crm:query><![CDATA[#[payload.query]]]></microsoft-dynamics-crm:query>
                    </microsoft-dynamics-crm:retrieve-multiple-by-query>
                    <ee:transform doc:name="Store existing Id in payload 'Id'" doc:id="6d3c2afd-9ef3-4001-bf36-4697b6b1af44">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.contact ++ {"Id": if (sizeOf(payload) == 0) null else payload[0].contactid}]]></ee:set-payload>
                        </ee:message>
                        <ee:variables>
                        </ee:variables>
                    </ee:transform>
                </batch:step>
                <batch:step name="updateContactsInDynamicsCrmStep" doc:id="5ec1afd8-b138-47ca-8c86-3a5c26749d01"
                    acceptExpression="payload.Id != null">
                    <batch:aggregator doc:name="Batch Aggregator" doc:id="09bd9799-a31b-4b16-b9fb-173d23d6cee9" size="${page.size}">
                        <ee:transform doc:name="Transform Salesforce Contacts to MS Dynamics Contacts List" doc:id="64562cea-40bd-4154-a79f-276cb2a62f87">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map {
	emailaddress1 : $.Email,
	fullname : $.Name,
	modifiedon : now() as String,
	fax : $.Fax,
	telephone1 : $.Phone,
	firstname : $.FirstName,
	lastname : $.LastName,
	description : $.Description,
	contactid : $.Id
}]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                        <microsoft-dynamics-crm:update-multiple doc:name="Update Contacts"
                            doc:id="342cb3cc-2ef8-4e06-8212-bd596126cbf1" config-ref="Microsoft_Dynamics_CRM_Dynamics_CRM" logicalName="contact" />
                        <logger level="INFO" doc:name="Log response" doc:id="7236a9f6-7aaf-4f40-94e3-e477a132e88d"
                            message="Update Dynamics CRM response: #[output application/json --- payload]" />
                    </batch:aggregator>
                </batch:step>
                <batch:step name="insertContactInDynamicsCrmStep" doc:id="9c0355bd-d8ca-46ea-bdf4-38482cc307af" acceptExpression="payload.Id == null">
                    <batch:aggregator doc:name="Batch Aggregator" doc:id="79e62eb2-a3b8-4dda-8bd5-13d1e22dd8e1" size="${page.size}">
                        <ee:transform doc:name="Transform Salesforce Contacts to MS Dynamics Contacts List" doc:id="c59f0ade-9399-44d0-afe8-9fd476402c61">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map {
	emailaddress1 : $.Email,
	fullname : $.Name,
	modifiedon : now() as String,
	fax : $.Fax,
	telephone1 : $.Phone,
	firstname : $.FirstName,
	lastname : $.LastName,
	description : $.Description
}]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                        <microsoft-dynamics-crm:create-multiple doc:name="Insert Contacts"
                            doc:id="ff0c2b74-3b8e-4f2f-a383-01e777f4fe49" config-ref="Microsoft_Dynamics_CRM_Dynamics_CRM" logicalName="contact" />
                        <logger level="INFO" doc:name="Log response" doc:id="7236a9f6-7aaf-4f40-94e3-e477a132e88d"
                            message="Insert Dynamics CRM response: #[output application/json --- payload]" />
                    </batch:aggregator>
                </batch:step>

            </batch:process-records>
            <batch:on-complete>
                <ee:transform doc:name="Prepare migration result" doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"

++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis
++ "\n Total Records: "				++ payload.totalRecords
++ "\n Successful Records: "		++ payload.successfulRecords
++ "\n Failed Records: "			++ payload.failedRecords
++ "\n Loaded Records: "			++ payload.loadedRecords
++ "\n Processed Records: " 		++ payload.processedRecords]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896"
                    message="Migration process has finished: #[payload]" />
            </batch:on-complete>
        </batch:job>
    </flow>
</mule>        